@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
* {
	box-sizing: border-box;
	line-height: 1.4;
}
body {
	background-image: url(https://a.slack-edge.com/4030/img/wired/nasa-header-image.jpg);
	font-family: 'Lato', sans-serif;
	margin: 0;
}

nav {
	height: 185px;
	color: white;
	font-weight: 700;
}

nav ul  {
	float:right;
}

nav ul li {
	display:inline-block;
	padding: 0 15px;
}

nav ul li:last-child {
	border: 1px solid white;
	border-radius: 3px;
	padding: 10px;
	font-weight: 900;
	text-align: center;
	font-size: 20px;
	margin-right: 30px;
	max-height: 37px;
}

.container {
	max-width: 840px;
	margin: auto;
}

a {
	color: white;
	text-decoration: none;
}

h6 {
	font-size: 1.38rem;;
	color: white;
	margin: 50px 0;
	text-align: justify;
}



.text {
	margin-top: 5px;
	font-size: 50px;
	display:block;
	color: #fff;
	text-align: center;
	font-weight: 900;
	font-size: 58px;
}

.logo {    
	background: url(https://a.slack-edge.com/66f9/img/landing/header_logo_sprite.png) left top no-repeat;
	background-size: 106px 60px;
	height: 30px;
	width: 106px;
	float: left;
	margin: 20px 0 0 1rem;

}

.formdiv {
	display:block;
	margin: auto;
	margin-top: -30px;
	text-align: center;
	width: 532px;
	height: 130px;
	background: rgba(0,0,0,.65);
	border-radius: 1rem;
	padding-top: 30px;
	border-radius: 1rem;

}

.tekst {
	color: white;
}

.anchor {
	text-decoration: underline;
}

.small {
	color: white;
	position: absolute;
	right: 25px;
}

.fontbold {
	font-weight: 900;
	font-size: 1.40rem;
}

.email {
	box-sizing: border-box;
	width: 250px;
	height: 50px;
	border-radius: .25rem;
	border: none;
	font-size: 20px;
	padding-left: 20px;
}

.submit {
	width: 190px;
	height: 50px;
	border: none;
	border-radius: 0.25rem;
	margin: 0;
	background-color: #56B68B;
	font-weight: 700;
	font-size: 20px;
	color: white;
	margin-left: 8px;
}

.small #linked {
	font-weight: 900;
}

.small a:hover {
	text-decoration: underline;
}

.small a {
	font-size: 0.85rem;
}

.small #linked {
	font-size: 0.95rem;
}

.container i {
	margin: 15px 5px;
}

.table {
	max-width: 1014px;
	margin: 0 auto;
}

.table ul {
	list-style: none;
}

.table .liste {
	float: left;
	display: inline-block;
	color: white;
}

.gradient {
	background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,#000 67%);
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,#000 67%);
	background: -o-linear-gradient(top,rgba(0,0,0,0) 0,#000 67%);
	background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,#000 67%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,#000 67%);
	height: 660px;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: -9;
}

footer {
	position: relative;
	margin-top: 50px;
	border-top: 1px solid grey;

}

footer ul {
	padding: 0;
}

footer ul li a {
	color: #8C8C94;
	font-size: 0.82rem;
}

.liste {
	margin-right: 99px;
}

.copy {
	background-color: #242424;
	margin-top: 1rem;
	text-align: right;
	color: #B7B7B7;
}

.smalltext {
	text-align: right;
	font-size: 15px;
	display: inline-block;
}
.smalltext a {
	color: #B7B7B7;;
}

.container #slack {
	float: left;
}

.fa, .fa-twiter {
	font-size:20px;
}





.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

.tebu {
	display: none;
}


@media only screen and (max-width: 768px) {

.container {
	width: 100%;
	padding: 0 15px;
}

	.text {
		font-size: 2.33rem;
    	line-height: 2.76rem;
	}

	h6 {
		width: 100%;
	}

	.bgxs {
		background-color: #2B2C2F;
	}

	.formdiv {
		background-color: transparent;
		width: 100%;
		height: 100%;
	}

	.table {
		background-color: #000000;
	}

	.table .liste ul {
		display: none;
	}

	.table .liste {
		display: block;
		float: none;
		margin-right: 0;
		border-top: 1px solid rgba(255,255,255,.14);
	}

	.table .liste h5 {
		padding: 0 15px;
		line-height: 54px;
		margin: 0;
		font-size: .6875rem;
	}

	.table .liste h5::after {
		content: "+";
		text-align: right;
		font-size: 20px;
		font-weight: 900;
		position: absolute;
    	right: 20px;
	}

	.small {
		display: none;
	}

	footer {
		margin-top: 0;
	}

	.email, .sumbit {
		margin: 10px 0;
	}

	.submit {
		width: 250px;
		margin-left: 0;
	}

	.tebu {
	display: inline-block;
    padding: 10px 14px 12px;
    line-height: 1em;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    font-size: 12pt;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    float: right;
    border: 2px solid white;
    top: 10px;
    right: 15px;
	}

	nav ul {
		display: none;
	}

}